/* Estilo del contenedor de la tabla */
.table-container {
  max-width: 90%; /* Ancho máximo del contenedor */
  margin: auto; /* Centra el contenedor */
  background-color: rgba(21, 57, 73, 0.6); /* Sombreado con opacidad */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto */
}

/* Estilos para la tabla */
.table {
  background-color: #fff;
  margin-bottom: 20px; /* Espacio inferior */
}

.table th {
  background-color: #153949; /* Encabezado de color oscuro */
  color: white;
  text-align: center;
}

.table td {
  color: #153949; /* Color de texto */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo claro */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(217, 217, 217, 0.8); /* Color alterno para filas impares */
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(242, 242, 242, 0.8); /* Color alterno para filas pares */
}

.line-separadora td {
  border-bottom: 2px solid #153949; /* Línea separadora */
}

.alert-info {
  background-color: rgba(21, 57, 73, 0.2); /* Fondo de alertas */
  color: #153949;
  border: 1px solid #153949;
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.1em;
}
