/* Fondo de la página sin afectar el header */
body {
  margin: 0;
  padding: 0;
}

/* Centrado del contenedor principal */
.main-content {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  padding-top: 20px; /* Separación respecto al header */
}

/* Contenedor del panel de administración */
.admin-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 900px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(21, 57, 73, 0.5);
  overflow: hidden;
}

/* Títulos del panel */
h2, h3 {
  color: #2f4f4f;
  text-align: center;
  margin-bottom: 20px;
}

/* Contenedor del formulario de creación de usuario */
.create-user {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Filas y columnas en el formulario */
.form-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

/* Estilos de los campos de entrada */
input, select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

/* Botón de agregar/actualizar usuario */
.add-button {
  background-color: #153949;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  align-self: center;
  margin-top: 10px;
  width: 100%;
}

.add-button:hover {
  background-color: #0056b3;
}

/* Tabla de usuarios */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
}

th {
  background-color: #153949;
  color: white;
  font-weight: bold;
}

/* Contenedor de los botones de acción */
.icon-button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Botón de acción individual */
.icon-button {
  background-color: #153949;
  border: none;
  border-radius: 7px;
  padding: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button img {
  width: 20px;
  height: 20px;
}

.icon-button:hover {
  background-color: #0056b3;
}

/* Mensaje de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
