.welcome-container {
  text-align: center;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(47, 79, 79, 0.5);
  border: none;
}

.welcome-container h2 {
  color: #153949;
  margin-bottom: 10px;
}

.welcome-container p {
  color: #555;
  font-size: 18px;
  margin-bottom: 20px;
}

.welcome-container .btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #153949;
  color: #ffffff; 
  border: none;
  transition: background-color 0.3s;
}

.welcome-container .btn:hover {
  background-color: #1e3c3c;
}
